[2022-08-18 10:04] ssandino opened #1 "Setting up public repo"
**Setting up the public repo `socialincome-san/public` includes (non-exhaustive list):**

- [x] GitHub actions for deployment
- [x] Settings for merging into the main branch through PRs (approval from one of the admins before they can be merged)
- [x] Only admins can deploy or add secrets
- [ ] Basic folder structure for code base (mobile, website, admin and shared files and typesafe collection de

[2022-09-02 12:54] andrashee commented on #1
I think the most crucial settings / deployments are done. I haven't tested it with a non admin user. @ssandino do you have one?

[2022-09-02 12:59] andrashee opened #12 "Adjust README"
Explain how development for the admin works.

[2022-09-02 12:59] andrashee opened #13 "[Shared] Create seed"
Create a seed export with dummy data for all collections

[2022-09-02 13:40] andrashee opened #15 "[Website Feature]: Migrate Firebase Functions"
In the website repository, we have a bunch of backend / etl functions.
As a next step, I would like to
- migrate them from vanilla javascript to typescript
- migrate them into this public repository

[2022-09-02 13:41] andrashee opened #16 "Extract collection definitions"
In the admin, we defined the typescript definitions of the firestore collections.
Let's extract them into a separate module so that we e.g. can use them in the backend etl firebase functions.

Challenge: remove firecms dependencies.

[2022-09-02 13:59] andrashee opened #19 "[Admin] Change yarn to npm in docker builds"
Yarn and docker don't seem to be friend: https://github.com/yarnpkg/yarn/issues/7747

Michael started to look into this, but was confronted with some dependency issues.

[2022-09-02 14:05] ssandino opened #20 "Add Search Bar"
**Is your feature request related to a problem? Please describe.**
It's sometimes difficult to find a specific recipient or contributor in the list (as the sorting/filtering is not always working)

**Describe the solution you'd like**
Adding a search bar like in the [demo](https://demo.firecms.co/c/blog). See also [FireCMS Documentation](https://github.com/Camberi/firecms/tree/next)

Priorities:
-

[2022-09-02 14:13] ssandino opened #21 "[Website Feature]: Use open data for company data (USA)"
**Describe the solution you'd like**
Adding organisations (other then Switzerland) data to the database, which can be used as autocomplete data for input fields and for pre-filling fields.

**Additional context**
Some sources found online:

American companies:
https://github.com/dariusk/corpora/tree/master/data/corporations
https://pkgstore.datahub.io/core/s-and-p-500-companies/constituents_csv/da

[2022-09-02 14:19] ssandino opened #22 "Stripe payments in user's contribution table"
**Describe the solution you'd like**
Stripe payments currently are not shown in the contributor's table, but this would allow for a better overview for the admins (admin tool) and as well as the user (user dashboard on the web)

**Additional context**
Additionally it would make sense to also import the status about the recurring payments (failed etc.). This will allow to better handle late payment

[2022-09-02 15:11] ssandino opened #24 "Log edits done from FireCMS"
**Is your feature request related to a problem? Please describe.**
We have no overview of what gets changed in the database (except in the recipients table the field `updated_on`, which only marks that something was updated, not what)

**Describe the solution**
For the changes done in FireCMS, we should be able to log who did it and what was the edit done. This should be first done for recipients

[2022-09-02 15:22] ssandino opened #26 "Change of Currency Code SLL -> SLE"
**Is your feature request related to a problem? Please describe.**
ISO 4217 currency code for the new Sierra Leonean Leone changed to SLE (from SLL)

**Describe the solution you'd like**
Required changes for the Transparency Page:

- add SLE to exchange rates if not available (the API doesn't provide it yet)
- change the internal computations (payouts, number of persons which can be paid out, ...)

[2022-09-02 15:24] andrashee commented on #20
Managed to setup a sync function using for the recipients using the extension.
Manually import the existing ones.

Will now work on the code changes and document it.

[2022-09-02 15:32] ssandino opened #27 "Button that triggers cloud function"
**Describe the solution you'd like**
Adding a button "Paid Today" to the OM List.

<img width="1433" alt="Screen Shot 2022-08-20 at 14 36 58" src="https://user-images.githubusercontent.com/6095849/185746561-de8cb406-abbf-4f14-8cdb-64cdd75cbdbd.png">

**Clicking should do the following:**
1. change the status for ALL recipients (incl. test users) from `to be paid` to `to_be_confirmed`
2. Sets the a

[2022-09-02 15:40] ssandino opened #28 "Adding transaction number through CSV upload"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-02 15:45] ssandino opened #29 "[Admin]: Automatic email for contributors with late payments"
**Is your feature request related to a problem? Please describe.**
We have currently no direct communication channel with contributors with late payments (i.e. expired Credit Cards)

**Additional context**
Depends on #22 (as the status would be imported there)

[2022-09-02 15:53] ssandino opened #30 "New role 'Global Analyst'"
**Is your feature request related to a problem? Please describe.**
Some staff members don't need to change data in the admin tool, but they need to have access to the data (read-only).

**Describe the solution you'd like**
Global Analyst would see everything like Global Admin with read-only rights.

[2022-09-02 15:59] ssandino opened #31 "Syncing phone number automatically"
**Is your feature request related to a problem? Please describe.**
The two phone numbers (`om_phone_number` and `communication_mobile_phone`) with the dependency `equals payment phone` is confusing and has caused some errors.

**Describe the solution you'd like**
They should sync logically when `equals payment phone` is activated or deactivated.

[2022-09-02 16:04] ssandino opened #33 "NGO partners see payment status of recipients (they proposed)"
**Is your feature request related to a problem? Please describe.**
NGO partners see only an empty page for the payment confirmation table

**Describe the solution you'd like**
They should be seeing all their recipients (but only with reading rights)

[2022-09-02 16:07] ssandino opened #34 "[Admin]: Recurring Option for manual payments table"
**Is your feature request related to a problem? Please describe.**
We have more and more people paying by a standing order (via bank). They can't be added yet in the "contribution" table and go therefore unaccounted in the statistics.

**Describe the solution you'd like**
As a start it could be as simple as 2 new fields:
- Recurring (Dropdown): which marks that the payment is recurring and what's

[2022-09-02 16:23] ssandino opened #35 "[Cleanup DB]: Too many country fields for user"
**Describe the bug**
There are various different location fields in the user table (1. `location` 2. `country` within address 3. `country` within personal)

**Additional context**
I think we should discuss which one are actually used and delete the others.

[2022-09-02 22:47] #12 closed

[2022-09-02 22:57] #1 closed

[2022-09-02 23:02] ssandino opened #37 "[Admin Tool Feature]: Adding carbon footprint data into firebase"
**Is your feature request related to a problem? Please describe.**
The stats on the webpage [sustainability](https://socialincome.org/sustainability) are currently hardcoded

**Describe the solution you'd like**

- Adding CO2 footprint data into firebase, so they can be added manually in the admin tool.
- Connecting it to the website (so it updates there automatically, it's currently hard coded)

[2022-09-02 23:04] ssandino opened #38 "[Admin]: Adding Gravatar API"
**Describe the solution you'd like**
Connecting the [Gravatar API](https://en.gravatar.com/) and add the gravatar images to the contributor and recipient collections in the admin tool (can later be reused on the contributor dashboard when logged in).

[2022-09-02 23:05] ssandino opened #39 "[survey] Main Setup for Standalone Survey Tool"
### Problem

Currently we use the third-party tool [Typeform](https://www.typeform.com) for the recipients surveys. This setup has considerable drawbacks: costs ($800+ per year), data in US, flexibility, no multi-language, managing surveys for recipients (knowing who filled out what) and less privacy etc.

### Solution

**Standalone solution**
- based on a react app in a separate top-level folder

[2022-09-02 23:06] ssandino opened #40 "Custom text messages to recipients"
**Describe the solution you'd like**
sending personal text messages (like in demo with [custom view](https://demo.firecms.co/c/ppp/B000P0MDMS/sample_custom_view)) through Twilio (sms, later WhatsApp) to recipients

[2022-09-04 19:55] ssandino opened #42 "Prototype Twilio Integration (SMS)"
**Describe the solution**
We should be able to send transactional SMS messages to recipients with Twilio (I took out the WhatsApp option. I'll draft a separate issue). This issue is a proof of concept, that should showcase that it can be done directly within the admin tool.

**Additional context**
- Templates for standard messages should be stored in its own collection `message-templates` (done)
-

[2022-09-04 19:55] ssandino commented on #42
Message templates was added to admin tool:

<img width="1325" alt="image" src="https://user-images.githubusercontent.com/6095849/188331181-a7b2940c-b180-4f12-b496-7116c73c90c5.png">

[2022-09-04 19:56] ssandino opened #43 "[Admin] Twilio Integration (WhatsApp)"
**Describe the solution**
This issue will be drafted when #42 is done

[2022-09-04 20:21] ssandino opened #44 "[Admin] Dummy Newsletter Subscription Page"
**Describe the solution/feature**
Newsletter signups should be handled directly by us instead of `Mailchimp`. This will allow us to share less data with the third-party provider (only the bare minimum to personalise the monthly newsletter).

**Additional context**
The dummy page will later be connected to the firebase db and contributor dashboard.

[2022-09-04 20:56] ssandino opened #45 "[Email Feature]: Sync from Firebase to Mailchimp"
**Describe the solution/feature**

**Syncing FB to Mailchimp**
Every time a new user gets created or updated in the firebase collection `newsletter-subscribers` the entry or the changes should be pushed to the Mailchimp audience `Social Income Newsletter` ([Link](https://us19.admin.mailchimp.com/lists/dashboard/overview?id=1278840)) (Audience ID: `6af6903d24`). This includes all merge fields plus

[2022-09-04 21:05] ssandino opened #46 "[Email Feature]: Sync from Mailchimp to Firebase"
**Describe the solution/feature**

If a newsletter subscriber unsubscribes through the Mailchimp unsubscribe link in the newsletter, then this should be passed on from Mailchimp to our Firebase database with [Mailchimps Webhooks](https://mailchimp.com/developer/marketing/guides/sync-audience-data-webhooks/).

In the firebase collection `newsletter-subscribers` the `mc_status` of the specific user

[2022-09-09 09:27] ssandino opened #50 "[Mobile] Moving mobile app code base to public repo"
**Describe the solution**
Moving the existing code base from the mobile app for recipients from the `private repo` to the `public repo` (like #7 for admin tool)

[2022-09-09 09:29] ssandino opened #51 "Moving website code base to public repo"
**Describe the solution**
Moving the existing code base of the website from the private repo to the public repo (like https://github.com/socialincome-san/public/pull/7 for admin tool and #50 for mobile app)

[2022-09-09 10:32] ssandino opened #52 "Automate PDF creation for confirmation of donations (for tax declaration)"
**Is your feature request related to a problem? Please describe.**
We currently create the yearly confirmation of donations (for tax purposes) manually for each contributor (in Switzerland). Immense work!

**Describe the solution/feature**

**Automate yearly confirmation of donations by:**

**The issue can be split up in 3 parts:**
- [x] Part 1 PDF tool
- [x] Part 2 Calculating
- [ ] Part 3 User F

[2022-09-11 12:13] ssandino opened #55 "Update Readme with profiles of code contributors"
**Goal:**
Display the GitHub contributors right in our Readme to create a strong(er) sense of community.

Good example: [Read me of Contributor Covenant](https://github.com/EthicalSource/contributor_covenant/blob/release/README.md) and their embedded [SVG](https://opencollective.com/contributor-covenant/contributors.svg?width=890&button=false)

**Why is it a good example?**

- It scales nicely
- p

[2022-09-11 20:18] MDikkii commented on #50
Moved in #53 and #58

[2022-09-11 20:34] ssandino opened #60 "[Mobile] Update Dart to support null safety"
_Transfer from previous app repo_

Written by @MDikkii:
Dart from version 2.12 support null safety and null safety operators. In my opinion, it is beneficial to update to null safety features. Not only we gain more control over our code and how it should behave, it will reduce number of NullPointerExceptions. Also we should be able to make future language updates easier as null safety seems to be

[2022-09-11 20:37] ssandino opened #61 "[Mobile App Feature]: Enable push notifications for Android"
**Describe the solution/feature**
One of the main goal of the app is to get timely feedback from the recipients (i.e. confirmation on payments) and relies on notifications to get their attention. Therefore the feature of push notification should be developed.

[2022-09-11 20:43] ssandino opened #62 "[Mobile] Registering app with new name on Play Store"
**Describe the solution/feature**
Registering the app with new name org. instead of com.

- [x] store listing
- [x] basic configuration
- [x] provide new app bundle
- [x] adding it to Play Store

[2022-09-11 20:44] ssandino opened #63 "[Mobile App Feature]: Adding multi language capability"
**Is your feature request related to a problem? Please describe.**
The app currently only allows for one language (EN). As a lot of recipients don't speak English, we would have to add an additional language Krio.

**Describe the solution/feature**
This issue covers the technical part of adding the capability to have a multi-language app and respective language files. (not the translations)

[2022-09-11 20:49] ssandino opened #64 "iOS version on TestFlight"
**Describe the solution/feature**
Compiling a iOS Version of the existing app and add it to TestFlight.

_Previous discussion:_
@alex92ch Input: depends a bit if the packages are compatible to for both platforms.
@P-Sopran Answer: it seems that the used packages are not android specific, but to be checked.

[2022-09-11 20:50] ssandino opened #65 "[Mobile] Login improvement"
**Describe the solution/feature**
User should be able to login (after initial login) with Fingerprint, Face ID or Pin.

Reason: For better security for the user, the sign in should work also with the standard options provided by the phone: Fingerprint, Face ID or Pin. Therefore the app is no longer "accessible" for anyone with physical access to the phone (if user is logged in). We don't save anyt

[2022-09-11 20:51] ssandino opened #66 "[Mobile App Feature]: Autofill security codes from SMS Messages"
**Describe the solution/feature**
The text messages (SMS) from Google Auth with the security codes should be autofilled into the respective code field. Might work out of the box for some phones with newer software. This issue is more to check, if one must do something specifically that it works everywhere (Android, iOS).

[2022-09-16 20:05] MDikkii commented on #62
App in beta channel, still in review.

[2022-09-18 12:40] #19 closed

[2022-09-18 15:17] andrashee commented on #16
@mkue I would like to work on this. We now already have the shared folder with an example interfaces used by a backend functions.

I wanted to work on moving the admin interfaces to this directory. However, it seems that react-scripts doesn't want to have relative paths outside the src directory: https://stackoverflow.com/questions/44114436/the-create-react-app-imports-restriction-outside-of-src-d

[2022-09-18 16:11] MDikkii commented on #62
Reviewed, you can check current version on early access from play store https://play.google.com/store/apps/details?id=org.socialincome.app

[2022-09-18 16:11] #62 closed

[2022-09-18 20:30] ssandino commented on #62
Nice! This works ...

[2022-09-18 20:33] ssandino opened #75 "[Mobile] Changing fonts"
**Describe the solution/feature**
Activating the new licensed fonts (Unica77) within the app, they have added to the folder `recipients_app/assets`

[2022-09-18 20:41] ssandino opened #76 "[Admin] Missing logo in dark mode"
**Describe the bug**
There is still a placeholder logo in the dark version. Should be anyway the Social Income Icon (not logo):

<img width="300" alt="icon_color_trans_bg@2x" src="https://user-images.githubusercontent.com/6095849/190927334-0edc1adf-8f6a-4680-a274-3fb73df0705c.png">

Which is saved as SVG in the `shared/assets/logos/`

**Screenshot of issue**
![anew](https://user-images.githubuserc

[2022-09-18 20:43] #50 closed

[2022-09-18 20:48] ssandino commented on #63
see also discussion **#57 Localization & Translations**

@MDikkii is any of those tools mentioned ([i18next.com](https://www.i18next.com/), [localizely.com](https://localizely.com/blog/nextjs-i18n-tutorial/), [locize.com](https://locize.com/blog/next-i18next/), [crowdin.com](https://crowdin.com/)) better suitable for the app? Goal is to use one tool that combines all translations, so your input in

[2022-09-19 20:57] ssandino opened #80 "[Admin] Changing fonts"
**Describe the solution/feature**
Activating the new licensed fonts (Unica77) within the admin tool. The typeface cuts have been added to the folder `shared/assets/fonts` and can linked (without copying it to a separate folder).

See also example code for the UI tool: https://github.com/socialincome-san/public/blob/main/ui/src/main.css#L18

[2022-09-19 20:58] ssandino commented on #13
Assigning the issue to myself (to add some extra data for the various collections)

[2022-09-19 21:20] ssandino commented on #15
@andrashee seems to be done, right?

[2022-09-20 05:28] andrashee commented on #15
No, there are still quite some missing.

[2022-09-21 10:00] renestalder opened #84 "[UI / Design Feature]: Recreate UI components"
To make the website code public, we need to recreate the UI components due to the current library being under proprietary license.

## Plan of action

The plan of action I will apply based my recommendation through my experience of building component and pattern libraries.

1. Setup a proper design system environment with [Storybook](https://storybook.js.org/) to build the future UI components for

[2022-09-23 09:34] renestalder opened #88 "[DevOps]: RFC: Proper contribution guidelines"
We need some proper contribution guidelines, especially for the commit messages. I feel like it is necessary to have clear scoping in monorepos to be able to tell in which package the change happens. This allows easier change tracking and also, if wanted, to generate changelogs for releases for individual packages (even though the app is currently the only place where release notes apply).

[Conve

[2022-09-23 12:09] andrashee commented on #88
Good suggestion, I'm in.

I put the squash merge as default for pr merges. So the individual commits get merged into 1 commit, which then maybe can follow this convention?

[2022-09-23 12:14] renestalder commented on #88
@andrashe

I usually discourage of doing so because squash merges can destroy a lot of information. I often do many small granular commits and I find it helpful others do the same as the git blame and history reading is much easier and also the individual commits can be cherry picked easier for hotfixes.

I would recommend not making this the default, but an option to choose from to ensure we don'

[2022-09-23 13:49] renestalder commented on #88
Probably not something that is that relevant to us, sure. That would be more for scenarios like, let's say, you already have a patched a bug in one of your next releases, but the next release it not ready to ship, yet you want already ship that particular patch as a hotfix, so you can use that single patch commit and put it on main. I at least use that possibility quite often in projects where I s

[2022-09-23 14:02] renestalder opened #90 "[Admin/Backend] Ensure deployments only happen on main branch"
The current config is an OR condition:

[code]

This means, the deployment happens either on the main branch or on changes in one of the defined paths.

As far as I can see, there is only one deployment channel open, and that is a public release. Therefore, any PR/branches that have changes in these folders create a productive deployment currently, no matter on what branch they happen.

I guess th

[2022-09-24 08:07] andrashee commented on #90
I don't think this is the case. It seems to me that it is and condition.

Afaik the deployment workflows are only triggered after merging into main and a change on the path.

Do you see an example where this doesn't happen?

[2022-09-24 08:21] andrashee opened #91 "Deployment Process"
The deployment GitHub workflows I configured for the backend and admin, currently deploy code continuously after each merge of a PR into main.

I personally quite like this approach since it's simple, ensures that code is deployed quickly and doesn't add manual overhead.

However, there are other good alternatives. E.g. manually creating a release with semantic versioning in GitHub which then trig

[2022-09-24 10:08] renestalder commented on #90
@andrashee

It happened in the UI PR. When I changed the prettier setup, the action reformatted all files in the admin folder too, hence it triggered the paths-rule (as said, those rules are an OR condition, not an AND). You might want to add an if-condition to the deployment step to ensure the deploy can never happen if the change doesn't happen on the main branch.

https://github.com/socialincom

[2022-09-24 10:16] renestalder commented on #91
We have the one with the release creation currently in the closed-source website project. Reasoning for it was mostly because we weren't able to fully local test changes as we didn't have all Firebase emulators in use and therefore needed more control about when to release.

But if we can say that all changes to main get run against tests, I also believe the current approach of automatic deploymen

[2022-09-24 13:22] andrashee commented on #90
I think this is only the preview build, which got triggered by the pr workflow which comes from a different definition. That's a different workflow. There is no real deployment to production happening there.

When you look at the workflows which got triggered by your pr, I can't see the deployment one in there. https://github.com/socialincome-san/public/actions?query=branch%3Afeat%2Fui-package

I

[2022-09-24 20:27] MDikkii commented on #88
I had some time ago strong opinion that squash is nice. But... No more. Git history should be for us to make sure that we can get all information we need.

After moving repos to one mono-repo we lost most of the history anyway, but I wouldn't make the "clean commit history" the goal.

I believe everyone should think about commit messages. And if we make some not very useful commit messages (e.g. "

[2022-09-24 20:45] #60 closed

[2022-09-24 20:45] MDikkii commented on #60
Solved with https://github.com/socialincome-san/public/pull/82

[2022-09-25 06:53] andrashee commented on #88
👍 re-enabled the normal merge, then one can decide per pr how to merge.

[2022-09-25 12:56] ssandino commented on #13
All collections now have some dummy data. Maybe we add more later – but for now closing the issue.

[2022-09-25 12:56] #13 closed

[2022-09-27 12:10] renestalder commented on #90
@andrashee You are right. I probably confused myself when I saw the deployment and then looked at the workflow files. Everything alright. Thanks for all the clarification.

[2022-09-27 12:10] #90 closed

[2022-09-27 15:16] #91 closed

[2022-09-30 11:26] mkue commented on #20
It seems like you already implemented this @andrashee?

@ssandino, do you want to have the search bar for any other than the recipients collection?

[2022-09-30 12:04] ssandino commented on #20
If possible yes! Not sure how it works within the pre-filtered NGO view. Possible?

[2022-09-30 14:38] andrashee commented on #20
Half done.

I used the firestore algolia extension to export the data to algolia. However, this seems to be limited to one collection afaik.

I think we should replace the extension with a firestore trigger function which we code by ourselves to not limit ourselves.

[2022-10-02 11:30] ssandino opened #104 "[Admin] Adding referral field to user collection"
**Is your feature request related to a problem? Please describe.**
We currently collect the information from new contributors, how they learned about Social Income, but it's not yet visible in the admin tool

**Describe the solution/feature**
Adding the field into the admin view

[2022-10-02 12:45] yunsuklee commented on #80
Can I be assigned this issue?

[2022-10-02 13:28] LunarMarathon commented on #76
Hi, which file or folder should I be looking into to fix this issue?

[2022-10-02 13:55] ssandino commented on #76
The logo is referenced here:
`/admin/src/app/App.tsx`

The referenced logo is saved here:
`/admin/public/logo.svg`

You find the icon to display in this folder:
`/shared/assets/logos/icon_color.svg`

Not sure how the icon in the dark mode gets in!

[2022-10-02 14:12] yunsuklee commented on #80
Hi, where should I add the new font?

[2022-10-02 14:14] ssandino commented on #80
Just reference it (you can leave the font where it is).

See also here: https://github.com/socialincome-san/public/blob/main/ui/src/main.css#L18 (other react app on the repo, who does it already)

[2022-10-02 14:23] yunsuklee commented on #80
I'm afraid I'm not following what it is to be done.
I'm sorry, I do not wish to waste your time :c

[2022-10-02 14:27] Ilikepizza2 commented on #76
Hello!
Is this issue being solved or can I be assigned?

[2022-10-02 14:28] ssandino commented on #76
@LunarMarathon should I assign it to you, as you asked first? Otherwise I assign it to @Ilikepizza2

[2022-10-02 14:31] ssandino commented on #76
A similar unassigned issue is #80, maybe for @Ilikepizza2 ?

[2022-10-02 14:32] Ilikepizza2 commented on #80
Okay may I be assigned this issue?

[2022-10-02 17:52] LunarMarathon commented on #76
Thanks for replying, I went through the files but couldn't find the source of the issue. I couldn't find where the code for dark mode is. Maybe you could inspect the site in dark mode and check in which file the that image is used

[2022-10-02 18:02] ssandino commented on #76
@mkue do you have a clue where they hide the dark mode icon and give a hint to @LunarMarathon ?

[2022-10-02 21:23] danicunhac commented on #76
@ssandino not sure if the other guys are going to work on this one, but if not, could you assign this one to me?

[2022-10-03 08:03] mkue commented on #91
Agreed. I would keep it as it is for the moment. We can switch to a release based deployment as soon as we think we need it.

[2022-10-03 10:16] ssandino commented on #76
@danicunhac let us know if you have any question!

[2022-10-03 19:14] Ilikepizza2 commented on #80
Hello there!
So from what I can infer from seeing the project, is that there is a Unica77 font to be activated in /admin.
There is a Typography.tsx component which is a wrapper component for this font. So may I know that do I need to use this component in /admin or do I need to reference the font separately in /admin? Or am I getting this all wrong?

[2022-10-03 20:06] ssandino commented on #80
Yes, you are getting it right. The admin tool should display the Unica77 font (instead of current `font-family` Rubik). There are two ways to do it:

A) Preferred Way: If you keep the actual font in the `shared/assets/fonts` and make it work with the `@font-face` rule (like it's done [here](https://github.com/socialincome-san/public/blob/main/ui/src/main.css#L18 – this is not linked to the admin t

[2022-10-03 20:17] Ilikepizza2 commented on #80
Well... there is no css file or tailwind config file in the /admin folder. My best guess would be that it is utilizing the /ui folder or something else for it's styling. Is that so?

[2022-10-03 20:18] ssandino commented on #80
@renestalder any thoughts on this?

[2022-10-03 21:40] ssandino opened #108 "[UI] Proofread readme.md and contributing.md"
Proofreading following files:

- [UI Readme](https://github.com/socialincome-san/public/tree/main/ui)
- [Contribution.md](https://github.com/socialincome-san/public/blob/main/ui/CONTRIBUTION.md)

(same as you did for the main readme.md)

[2022-10-03 21:59] jeslyw commented on #108
sure - please assign :)

[2022-10-04 08:17] renestalder commented on #80
If you want to use the fonts in the admin, create own `@font-face` definitions in the admin project's CSS (if there is no CSS file yet, check with @andrashee).

The font-face definition (apply correct relative path based on the location of the CSS file in the admin project):

[code]

[2022-10-04 08:23] Ilikepizza2 commented on #80
Yeah sure
@andrashee any thoughts on this?

[2022-10-04 14:00] daksh10110 commented on #55
Hey I can do this, can you assign this task to me.

[2022-10-04 17:01] Ilikepizza2 commented on #80
@andrashee can you tell me how to proceed?

[2022-10-04 17:23] ssandino commented on #76
@danicunhac if you refork you will see that the dark mode issue got solved, so now you would only have to change the asset from the logo to the icon. Let us know if you want to continue – now it's a fast catch! ;-)

[2022-10-04 17:42] #76 closed

[2022-10-04 19:00] andrashee opened #113 "Backup Strategy Plan"
Test and document firestore database backup restore

[2022-10-04 19:03] andrashee opened #114 "Update Readme"
The readme doesn't reflect anymore the current state.
Update all commands and divide it into several ones for the subprojects.

[2022-10-05 00:09] jeslyw commented on #108
[PR](https://github.com/socialincome-san/public/pull/116) done :)

[2022-10-05 14:50] Yatharth-Jain commented on #55
Hey There, I would like to Contribute in this Task. Along with that this is my first Open Source step so also want some guidance. So can you assign that task to me and guide me on any issue

[2022-10-07 05:57] andrashee commented on #20
The firecms example has also an implementation if the sync: https://github.com/Camberi/firecms/blob/master/example_backend/functions/src/algolia.ts

[2022-10-07 06:58] mkue commented on #20
Cool! Lets' do that then?

[2022-10-07 07:23] andrashee commented on #80
Sorry, I had to check how to do this as well before I could give tips @Ilikepizza2.
We had to create a .css file so that we could add the fonts.

Looking for another interesting ticket to work on?

[2022-10-07 07:27] Ilikepizza2 commented on #80
Okay sure I'd like to know about it!

[2022-10-07 07:28] #80 closed

[2022-10-07 07:31] #108 closed

[2022-10-07 07:32] ssandino commented on #104
see #105

[2022-10-07 07:52] ssandino commented on #80
@Ilikepizza2 What about #52 ? That's where the new font would also be used. However, it's a larger issue. You can also tell us your special skills and we see what other issue not tagged with #hacktoberfest matches.

[2022-10-07 08:01] ssandino commented on #80
@Ilikepizza2 I also split the issue in 3 parts. So first part would be already a big step forward. Don't hesitate to ask questions right in the issue #52 ... if things are not yet clear

[2022-10-07 08:22] Ilikepizza2 commented on #52
Ok woah this is somewhat a big issue!
Let me clear some of the work I have in other repos and then I'll get to work.

[2022-10-07 08:39] ssandino commented on #52
Fantastic! Thank you @Ilikepizza2. Part 1 would be already a huge leap forward. I added above also the link to the templates.

[2022-10-07 13:39] ssandino commented on #113
I think it was done directly in the console (might be the [Cloud Schedular tool](https://console.cloud.google.com/cloudscheduler/)). That might be why there is not much trace of it in the code.

[2022-10-07 16:50] YashGupta1510 commented on #66
I used this method in one of my apps.
Both android and ios allow you to read the messages, so what I did was that I stored that text part in a temporary string and extracted the auth code using basic string functions like split. Lame method but works for me.

[2022-10-07 17:32] ssandino commented on #66
@MDikkii some input from the open source community

[2022-10-09 20:15] Ilikepizza2 commented on #52
Hello there!
I scouted the codebase, getting to know the code and I am sorry to say but most probably this is an issue far beyond my current capabilities. I'd probably waste much of your time and still I might not be able to complete the issue. So, I'm unassigning myself. I'll come back to work on this project once I gain some experience. Sorry to disappoint... hope to see this project grow.
Thank

[2022-10-09 20:29] ssandino commented on #52
@Ilikepizza2 Thanks for letting us know! All good ... we hope to see you coming back in the future

[2022-10-09 20:42] ssandino commented on #52
@Ilikepizza2 Thanks for letting us know! All good ... we hope to see you coming back in the future

[2022-10-09 20:47] ssandino commented on #55
how is it going @daksh10110 – anything we can help?

[2022-10-09 20:51] daksh10110 commented on #55
I am extremely sorry for not informing before, I had a lot of work lately so I wasn't able to do this task.

I have my exams from the next week so it would take some time, you can assign it to some other person if you wish to.

The idea I had in mind was to get the photos using GitHub api and then using flask and pillow to send the files from there.

[2022-10-09 21:05] ssandino commented on #55
Thanks for the quick answer and sharing your approach. Hope your exams went well. I also assign @Yatharth-Jain in case he is still interested and wants to push this issue forward. Then we see how to wrap it up.

[2022-10-10 20:09] MDikkii commented on #66
@YashGupta1510 thanks for comment 🎉  Do you recall that you read all of user messages (like... getting the `READ_SMS` permission on Android was required) and try to get the one with OTP token? Or did you do that with some other way of getting OTP codes?

[2022-10-10 20:09] #75 closed

[2022-10-12 10:00] ssandino opened #130 "Add new react app for survey tool (subfolder /surveys)"
relates to the Simple Survey Tool #94 discussion

[2022-10-12 10:14] Anup11dwivedi commented on #39
Hi

[2022-10-12 15:02] YashGupta1510 commented on #66
I used the Telephony package(available for both android and ios) from pub.dev and read any new notification that came after I come on the OTP filling page/State.

[2022-10-12 15:19] ssandino opened #133 "Firebase Setup for Survey Tool"
This issue derives from the basic setup #132 and is connected to the discussion in #94.

- [x]  adding a new site within our firebase project `Social Income Prod` (site is called: `social-income-survey`)
- [x]  creating and adding a subdomain to hosting service of firebase (URL is: survey.socialincome.org)
- [x]  adding the DNS records for connecting (propagation time up to 48h)
- [x]  waiting for

[2022-10-13 08:45] renestalder opened #136 "[DevOps]: Add dependabot version update PRs"
The repository is currently configured for checking for security update. We should also ensure regular automatic version updates to have better control about the dependencies not going stale.

Add dependabot version update PRs as soon as it properly supports npm workspaces.

* See for https://github.com/dependabot/dependabot-core/issues/4993 to get resolved
* Activate `Dependabot version updates`

[2022-10-13 09:00] renestalder opened #138 "[UI / Design Feature]: Add form field UI components"
**What kind of UI element or design specification is missing from the
design system**.

Accessible form field components.

**What other solutions have you already considered to use**

None.

**Additional context** Add any other context or screenshots about the
feature request here.

- Must have built-in validation states (HTML5 client-side validations are not always accessible)
- Is part of #84
-

[2022-10-13 21:58] ssandino commented on #138
If possible, it would be nice to use the _floating outlined form fields_ (like [here](https://notiz.dev/blog/floating-form-field-with-tailwindcss#outline-form-field) except some additional rounded corners)

[2022-10-13 22:20] #133 closed

[2022-10-14 21:33] #114 closed

[2022-10-17 11:00] ssandino commented on #39
Future steps (copied from Slack):

Easiest if you connect directly @renestalder @Anup11dwivedi

[2022-10-17 11:11] ssandino commented on #39
Screen Designs:
![](https://user-images.githubusercontent.com/6095849/192386059-3ab0d3bf-30e5-4501-bea1-10f820d0489f.jpg)

[2022-10-17 13:24] ssandino opened #142 "Main widget on new home screen in mobile app (logged in)"
**Context**

The new home screen in the mobile app shows in a feed a collection of widgets (in form of cards). The user can interact with the widgets.

**Context**
The main widget in the feed is the payment widget (always first and always shown). Each dot represents a month of Social Income (everyone gets 36 month). Depending on the status of the confirmations by the recipient the payments status

[2022-10-26 16:58] ssandino opened #145 "Admin tool doesn't save changes anymore due to a"
**Describe the bug** A clear and concise description of what the bug is.
We can't save changes in the admin tool anymore (due to a problem in a date field)

**To Reproduce** Steps to reproduce the behavior:

1. Go to 'recipients'
2. Change value in any 'test user'
3. See error

**Expected behavior** A clear and concise description of what you
expected to happen.

**Screenshots** If applicable, add

[2022-10-26 16:59] ssandino commented on #145
@andrashee @mkue any clue?

[2022-10-26 21:09] andrashee commented on #145
I can reproduce this locally as well. Seems like a firecms bug. Maybe [this change](https://github.com/Camberi/firecms/commit/bf5a3af9f018e2e490e0f422b3bfa47df498457e#diff-5af2da65dd3d662feb8f7cc2ade98a694423dad2afe946d5f58a7bf9c6d81ef3R514) caused it.
The newest version (41) also has the same issue, rolled it back to version which works with https://github.com/socialincome-san/public/pull/146

[2022-10-26 21:40] ssandino opened #147 "[Website]: Add open source community page"
**Describe the solution/feature**

A new page for the new website: **open source community page** (Branch `dev-community-page` on prod repo then [localhost:5000/tech-for-good](http://localhost:5000/ch/en/tech-for-good)

Some elements of the page (partly outdated):

- there are only a few frontend components (but important ones: cards, buttons, alert etc.)
- links on the page are `mailto` links or

[2022-10-27 08:50] renestalder commented on #147
I'm not sure yet what you are asking. Are you asking to start with developing one page, or are you asking developing one page AND already rolling it out?

The former is probably anyway how the development will go: Set up basic routing and translation architecture, and then create page for page.

The latter, rolling single pages out while keeping the current website, is another thing which, I belie

[2022-10-27 13:48] fgatti675 commented on #145
This should be fixed in the latest version :)
I take the chance to invite you to the official Discord channel of FireCMS: https://discord.gg/fxy7xsQm3m
Also, it would help us a lot to have a call with you to see how FireCMS is working out for you and if there is anything we can do to improve it. It would be great if you could reach me at francesco@camberi.com 🙌

[2022-10-28 12:16] andrashee commented on #145
Thanks a lot @fgatti675 for your quick fix! Highly appreciated.
We would love to have a call with you. I think @ssandino will reach out to you :-)

[2022-10-28 12:23] #145 closed

[2022-11-01 18:37] ssandino commented on #39
@Anup11dwivedi this might help:

- For the language dropdown you can use this [ready-to-use dropdown button ](https://socialincome-san.github.io/public/?path=/story/components-combobox-combobox--standard)
- For the normal white buttons you have this one [here](https://socialincome-san.github.io/public/?path=/story/components-button-button--tertiary)

Form fields are also coming, as well as the seg

[2022-11-02 09:34] renestalder commented on #39
For all components, you are missing in our UI library by now, I recommend using the most appropriate standard, native HTML element for now, unstyled. Like if you are blocked for the test form fields not being ready in the UI library, use `<input>` directly for now. You'll find those elements later in the UI and should be able to easily copy/paste/replace your current solution as soon as they are a

[2022-11-04 16:08] ssandino commented on #39
I think @renestalder was referring to this tag, which prevents search engines from indexing the page:
`<META NAME="robots" CONTENT="noindex">` ([Source](https://blog.hubspot.com/marketing/how-to-unindex-pages-from-search-engines#:~:text=Add%20both%20a%20%22noindex%22%20and,the%20links%20on%20that%20page.))

[2022-11-04 16:11] ssandino commented on #39
The two surveys to rebuild with the new tool. You can copy paste all text parts from there:

1. Initial (every new recipient fills it out 1 time): https://digitaleschweiz.typeform.com/to/WXgFXy8M
2. Recurring (recipients fill it out every 6 month): https://digitaleschweiz.typeform.com/to/PwxHI4zU

[2022-11-08 23:28] ssandino opened #158 "[Email]: Transactional HTML email: failed one-time payments"
**Is your feature request related to a problem?**
Currently, if a payment fails we are not communicating with the potential contributor and helping him to solve the issue (customer retention strategy).

**Scope**
The scope of this issue is only the **failed one-time payment of a new user** (not failed payments of existing contributors). The failed one-time payment of a new contributor is the simpl

[2022-11-14 16:56] ssandino opened #163 "Subsetting fonts used on web for better performance"
**Is your feature request related to a problem?**
We load the full fonts, but a subset would be enough

**Describe the solution/feature**
Using a subset

**Additional context**
What we currently load (300kb)

<img width="750" alt="Screenshot 2022-11-14 at 17 32 02" src="https://user-images.githubusercontent.com/6095849/201719255-ba57e0b9-1249-4f99-94a5-9a1f5116fc1b.png">

[2022-11-14 18:25] ssandino opened #164 "[Email Feature]: Unsubscribe link in transactional emails"
**Is your feature request related to a problem? Please describe.**
Adding an unsubscribe link to the transactional emails. This is mandatory and also needed to not get caught by the spam filter.

**Describe the solution/feature**
How others do it:

e.g. Bolt unsubscribe link is the following:
https://bolt.eu/en/unsubscribe/rider/?unsubscribe_token=2b1d4c7f-a74e-42db-994a-482008a2e777&consent_id=2

[2022-11-15 18:51] ssandino opened #166 "Update to FireCMS to a more current release"
**Is your feature request related to a problem?**
We currently don't see the amount of list items:
<img width="225" alt="Screenshot 2022-11-15 at 19 49 23" src="https://user-images.githubusercontent.com/6095849/202001301-81318243-7070-4993-a1f5-1e0c11a5d4e9.png">

**Solution**
Update FireCMS to a higher release as this featured was added in the
<img width="255" alt="Screenshot 2022-11-15 at 19 50

[2022-11-15 18:55] ssandino opened #167 "Hide tiles for NGO admin"
**Is your feature request related to a problem?**
Currently NGO admins see two tiles that are not really necessary and rather confusing.

**Describe the solution/feature**
Hiding them with the new feature/option provided by FireCMS:
https://github.com/Camberi/firecms/discussions/362#discussioncomment-3389797

<img width="1040" alt="Screenshot 2022-11-15 at 19 52 48" src="https://user-images.github

[2022-11-15 20:00] ssandino opened #168 "New script to capitalize the first letter of first and last name"
**Is your feature request related to a problem?**
Yes, we have a quite a few of contributors (`users`) that have written their name all _UPPERCASE_ or _lowercase_. This is a problem for example when sending out transactional emails (looks weird: Hello MICHAEL) or in the future text messages.

**Describe the solution/feature**
Adding a script that goes through the current DB and capitalizes the fir

[2022-11-15 20:30] ssandino opened #169 "Add button with function for setting monthly payments date (payment confirmation list)"
Add an additional button in payment confirmation list:
1. On payment level: Make for each user a payment with date "today"
2. On payment level: This new payment has the status "to be confirmed"
3. On recipient level: change all that are "dedicated" and received payment to "active"
4. On recipient level: if a recipient received their last payment (36 month after start date) change their status to "

[2022-11-17 14:36] ssandino commented on #20
Possible to add it for the contributor `users` list too?

[2022-11-21 14:10] ssandino opened #172 "[UI / Design Feature]: Components for finance page"
**Minimal set of components we would need for only building that [finance page](https://socialincome.org/ch/en/finances):**

- Header (Mega Menu similar to [this](https://github.com/justalever/tailwindcss-mega-menu/blob/main/index.html) one)
- Currency Selector ([Storybook](https://socialincome-san.github.io/public/?path=/story/components-select-select--with-images))
- Pills to differentiate indiv

[2022-11-28 13:56] ssandino opened #179 "[DevOps]: Add PR Template"
We almost fulfil all community standards:

<img width="761" alt="Screenshot 2022-12-09 at 11 02 06" src="https://user-images.githubusercontent.com/6095849/206676796-1f939db5-62f4-4b60-b379-1fa9fe31a1e8.png">

See our community standard page:
https://github.com/socialincome-san/public/community

Context:
https://www.youtube.com/watch?v=SIhiXdy_6Zo&t=4s

[2022-11-28 13:57] ssandino opened #180 "[DevOps Feature]: Clean-up Readme and Contributor Files"
See also Community Standard Overview for our repo:
https://github.com/socialincome-san/public/community
https://gist.github.com/seanmarcia/095f3ef98b3e4156a2d09187724044aa

Context:
https://www.youtube.com/watch?v=SIhiXdy_6Zo&t=4s